---
layout: default
---

<div class="home">
    {% assign firstPost = site.posts.first %}
    {% assign firstPostContent = firstPost.content %}
  
    {% if firstPost.title %}
        <h1 class="entry-title">
            <a href="{{ firstPost.url | relative_url }}">{{ firstPost.title }}</a>
        </h1>      
    {% endif %}
    <div class="entry-content">{{ firstPostContent }}</div>
    
    {{ content }}

  <h1 class="page-heading">Wszystkie wpisy</h1>
  
  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>

        <span>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        <span>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>
